.score i {
  font-size: 1em;
  color: #FFDB58;
}

.question {
  font-size: 1em;
  color: #222A36;
}

.container-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.user img {
  width: 50px;
  height: 50px;
  border: 1px solid #103D63;
}

.user .card {
  max-width: 15vw;
}

.yellow {
  color: #FFDB58;
}

.black {
  color: black;
}

.bi-hand-thumbs-up-fill {
  color: green;
}

.bi-hand-thumbs-down-fill {
  color: red;
}

.bi-hand-thumbs-up-fill:hover, .bi-hand-thumbs-down-fill:hover {
  cursor: pointer;
}

.container-stars {
  padding: 5px 40px;
}
